{% if bootstrap_version >= 5 -%}
    {% set field_cls = "col-md-auto" -%}
{% else -%}
    {% set field_cls = "col-md-6" -%}
{% endif -%}
<div class="row">
    <div class="col">
        <div class="form-group {{field_cls}}">
            {{ form.reservation.label }}
            {{ form.reservation(class_="form-control") }}
        </div>
    </div>
    <div class="col">
        <div class="form-group {{field_cls}}">
            {{ form.partition.label }}
            {{ form.partition(class_="form-control") }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="form-group {{field_cls}}">
            {{ form.account.label }}
            {{ form.account(class_="form-control") }}
        </div>
    </div>
    <div class="col">
        <div class="form-group {{field_cls}}">
            {{ form.runtime.label }}
            {{ form.runtime(class_="form-control") }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="form-group {{field_cls}}">
            {{ form.nprocs.label }}
            {{ form.nprocs(class_="form-control") }}
        </div>
    </div>
    <div class="col">
        <div class="form-group {{field_cls}}">
            {{ form.memory.label }}
            {{ form.memory(class_="form-control") }}
        </div>
    </div>
</div>
<div class="form-group">
    <div class="form-check">
        {{ form.oversubscribe(class_="form-check-input") }}
        {{ form.oversubscribe.label(class_="form-check-label") }}
        <small id="overs_help" class="form-text text-muted">Recommended for interactive usage</small>
    </div>
</div>
<div class="form-group">
    {{ form.gpus.label }}
    {{ form.gpus(class_="form-control") }}
</div>
<div class="form-group">
    {{ form.ui.label }}
    {{ form.ui(class_="form-control") }}
</div>
